﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Site.master" AutoEventWireup="true" CodeFile="Redirect.aspx.cs" Inherits="Redirect" %>

<asp:Content ID="Content1" ContentPlaceHolderID="HeadContent" Runat="Server" >
<script type="text/javascript">


document.body.onload    = delayer();
    function delayer() {
        window.location = "../Auto/reportes.aspx"
    }


</script>
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="MainContent" Runat="Server" onload="setTimeout('delayer()', 1000);" >
<h2>Procesando</h2>

<a href="reportes.aspx">Espere un segundo....</a>

</asp:Content>

