﻿.modal {
    border-bottom-right-radius: 0px !important;
    border-top-left-radius: 0px !important;
}

/*.modal-lg {
    z-index:99999;
}*/

.modal-content {
    border-bottom-right-radius: 6px !important;
    border-top-left-radius: 6px !important;
    margin-left: 5px !important;
    margin-right: 5px !important;
}

.modal-backdrop {
    display: none;
}

/* Start by setting display:none to make this hidden.
    Then we position it in relation to the viewport window
    with position:fixed. Width, height, top and left speak
    for themselves. Background we set to 80% white with
    our animation centered, and no-repeating */
.modal-pr {
    display: none;
    position: fixed;
    z-index: 9000;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba( 255, 255, 255, .8 ) url('../../Imagenes/ajax-loader.gif') 50% 50% no-repeat;
}

/* When the body has the loading class, we turn
    the scrollbar off with overflow:hidden */
body.loading .modal-pr {
    overflow: hidden;
}

/* Anytime the body has the loading class, our
    modal element will be visible */
body.loading .modal-pr {
    display: block;
}
