﻿.modal {
    border-bottom-right-radius: 0px !important;
    border-top-left-radius: 0px !important;
}

.modal-dialog {
    width: 70%;
    max-width: 800px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.modal-content {
    border-bottom-right-radius: 6px !important;
    border-top-left-radius: 6px !important;
    margin-left: 5px !important;
    margin-right: 5px !important;
}

.modal-backdrop {
    display: none;
}


.form-inline .form-group div[class^='col-sm-'] {
    padding: 0px;
}


.btn:active:focus, .btn:focus {
    outline: 0px;
}

.btn-span {
    background-color: #f3eeeecc;
    border-color: #CCC;
}

    .btn-span:hover {
        box-shadow: 0px 0px 2px 1px rgb(34 66 103 / 85%);
    }

    .btn-span .glyphicon-eye-open {
        font-size: 15px;
    }

.btn-span-ok {
    border: solid 1px #2f6315;
    color: #2f6315;
    cursor: auto;
    display: inline-block;
    line-height: 1;
    border-radius: 100%;
    padding: 4px 5px;
    font-size: 11px;
    text-align: center;
    white-space: normal;
    vertical-align: middle;
    font-weight: 400;
}

.documentos {
    margin-top: 10px;
}

    .documentos .documento:first-child {
        margin-top: 0px;
    }

.documento {
    border: solid 1px #CCC;
    border-radius: 3px;
    box-shadow: 0px 1px 2px 0px rgb(0, 0, 0, 0.2);
    padding: 5px;
    margin-top: 5px;
}

    .documento input[type=file] {
        display: none;
    }

    .documento .form-group {
        margin-bottom: 0px;
    }

    .documento:hover {
        background-color: #f6faff;
        border-color: #2196F3;
    }

.condicionado-motivo {
    background-color: #fff5ed;
    border-radius: 2px;
    color: #bd1b31;
    display: block;
    padding: .7rem 0.3rem;
}

.documento-acciones {
    text-align: right;
}

    .documento-acciones > span {
        margin-right: 5px;
        margin-left: 5px;
    }

        .documento-acciones > span:first-child {
            margin-left: 0px;
        }

        .documento-acciones > span:last-child {
            margin-right: 0px;
        }

.inactivo {
    display: none;
}

.breadcrumb {
    margin-bottom: 10px;
}

.doc-prev {
    display: inline-block;
    width: 45px;
    height: 45px;
    border-radius: 4px;
}

    .doc-prev:hover {
        box-shadow: 0px 1px 3px 2px rgb(255 9 30 / 85%);
        cursor: pointer;
    }

    .doc-prev img {
        border-radius: 4px;
        box-shadow: 0 0 0 1px #7889fb, 0 0 0 1px #bbcaff;
        overflow: hidden;
        /*position: relative;
        top: 1px;
        left: 1px;*/
        width: 45px;
        height: 45px;
    }

.doc-prev-activo {
    box-shadow: 0px 1px 3px 2px rgb(255 9 30 / 85%);
}

.doc-agregar {
    border: solid 1px #CCC;
    border-radius: 4px;
    padding: 11px 15px;
    width: 45px;
    height: 45px;
    cursor: pointer;
}

    .doc-agregar:hover {
        box-shadow: 0px 1px 3px 2px rgb(9 147 255 / 85%);
    }

    .doc-agregar .glyphicon-plus {
        color: #398439;
    }

.breadcrumb {
    padding: 5px 5px;
}

#modCarga_documentos {
    display: flex;
    flex-direction: row;
}

    #modCarga_documentos .doc-prev {
        margin-right: 10px;
    }

        #modCarga_documentos .doc-prev:last-child {
            margin-right: 0px;
        }


.doc-prev-completo {
    border: solid 1px #CCC;
    border-radius: 4px;
    margin-bottom: 5px;
    max-height: 405px;
}

#modCarga_vistaPrevia .alert {
    margin-bottom: 5px;
}

.doc-prev-completo .atrchivo-doc-pdf {
    height: 400px;
}

.doc-prev-titulo span.glyphicon {
    font-weight: 600;
    font-size: 1.6rem;
    float: right;
    cursor: pointer;
}

    .doc-prev-titulo span.glyphicon.glyphicon-trash {
        color: red;
    }

.datosCliente {
    border: solid 1px #CCC;
    margin-bottom: 10px;
    border-radius: 4px;
    padding: 5px 0;
}

    .datosCliente span.form-control {
        overflow-y: auto;
        overflow-wrap: break-word;
    }

#cargaDocs .alert {
    margin: 5px 0;
}

.archivo-carga {
    background-color: #ffa20e;
    border-color: #ffa009;
    color: white;
    pointer-events: none;
}

    .archivo-carga.correcto {
        background-color: #59b459;
        border-color: #26d026;
    }

    .archivo-carga.error {
        background-color: #d9534f;
        border-color: #d43f3a;
    }

    .archivo-carga .glyphicon-refresh {
        animation: rotar 2s infinite linear;
    }

@keyframes rotar {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

@media only screen and (max-width: 768px) {
    .modal-dialog {
        width: 100%;
    }

    .modal-content {
        width: 93%;
    }
}
