﻿.modal {
    border-bottom-right-radius: 0px !important;
    border-top-left-radius: 0px !important;
}

.modal-content {
    border-bottom-right-radius: 6px !important;
    border-top-left-radius: 6px !important;
    margin-left: 5px !important;
    margin-right: 5px !important;
}

.modal-backdrop {
    display: none;
}

.glyphicon-cloud-upload {
    color: #ad145b !important;
}

#divProcesoDigital .modal-body {
    max-height: 450px;
    overflow-y: auto;
}

    #divProcesoDigital .modal-body .row {
        margin-bottom: 5px;
        border-bottom: solid 1px #CCC;
    }

.procesoDigital {
    font-size: 10pt;
}

.fechaEvento {
    font-size: 10pt;
    color: #a70101;
    text-align: right;
}

.accionEvento {
    font-size: 10pt;
    padding-top: 3px;
    color: #020084;
}
