﻿
div.labels-normal label {
    font-weight: 500 !important;
}

.col-com-derecha {
    text-align: right;
}

.toolbar {
    margin-bottom: 30px;
    padding-bottom: 20px;
}

.dataTables_scroll {
    border-top: 1px solid #111;
}
table.dataTable.display tbody tr.even > .sorting_1, table.dataTable.order-column.stripe tbody tr.even,
table.dataTable.display tbody tr.odd > .sorting_1, table.dataTable.order-column.stripe tbody tr.odd {
    background-color: inherit !important;
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1439px) {
    table.dataTable.compact {
        font-size: 11px;
    }
}

@media only screen and (min-device-width : 1440px) and (max-device-width : 1600px) {
    table.dataTable.compact {
        font-size: 12px;
    }
}