﻿.row {
    margin-right: -15px !important;
    margin-left: -15px !important;
}

.modal {
    border-bottom-right-radius: 0px !important;
    border-top-left-radius: 0px !important;
}

.modal-lg {
    width: 90% !important;
}

.modal-content {
    border-bottom-right-radius: 6px !important;
    border-top-left-radius: 6px !important;
    margin-left: 5px !important;
    margin-right: 5px !important;
}

.modal-backdrop {
    display: none;
}