﻿.btn:focus {
    outline: 0 !important;
}

.carga-asignar {
    color: #31708f;
    background-color: #d9edf7;
}

.carga-error {
    color: #a94442;
    background-color: #f2dede;
}

.carga-acciones span {
    margin-right: 5px;
    cursor: pointer;
}

.carga-acciones .glyphicon-pencil {
    color: #0026ff;
}

.contenido {
    padding-top: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.comandos {
    margin-bottom: 5px;
}

.etiqueta-valor {
    display: inline-block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.modal {
    border-bottom-right-radius: 0px !important;
    border-top-left-radius: 0px !important;
}

.modal-lg {
    width: 90% !important;
}

.modal-content {
    border-bottom-right-radius: 6px !important;
    border-top-left-radius: 6px !important;
    margin-left: 5px !important;
    margin-right: 5px !important;
}

.modal-backdrop {
    display: none;
}

.page-header {
    margin: 0;
}

#tcargas tr td a {
    cursor: pointer;
}

#nuevoAsig input[type=file] {
    display: inline-block !important;
}

#nuevoAsig .row {
    margin-top: 4px;
}

    #nuevoAsig .row:first-child {
        margin-top: 0px;
    }
