﻿
/* File Manager */
.panel-body.file-manager-body {
    height: 290px;
    max-height: 290px;
    overflow: hidden;
}

.file-manager {
    height: 226px;
    overflow-y: auto;
    margin-left: -15px;
    margin-right: -15px;
    padding: 0 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    align-items: flex-start;
}

.file-manager-filter {
    margin-top: -15px;
    padding: 15px 15px 0px 15px;
    background-color: #fafafa;
}

.file-manager-file span {
    display: inline;
    white-space: nowrap;
}

.file-manager-file:hover {
    background-color: #ccc;
}

.file-manager-file {
    background-color: #dadada;
    display: table-cell;
    color: #353b48;
    cursor: pointer;
    width: 186px;
    max-width: 186px;
    margin-top: 18px;
    margin-right: 10px;
    padding: 8px;
    padding-left: 12px;
    padding-right: 12px;
    border-radius: 4px;
    text-overflow: ellipsis;
    overflow: hidden;
}

    .file-manager-file i {
        display: inline;
        margin-right: 6px;
        font-size: 20px;
    }

.file-manager:hover {
    background-color: none;
}

.modal-backdrop {
    display: none;
}

#secVisualizarArchivo .modal-lg {
    width: 70vw;
}

.preview-object {
    width: 100%;
    height: 100%;
}

/* context menu */

.context-menu {
    display: none;
    position: absolute;
    z-index: 10;
    padding: 6px 0;
    width: 220px;
    background-color: #fff;
    border: solid 1px #dfdfdf;
    box-shadow: 1px 1px 2px #cfcfcf;
}

.context-menu--active {
    display: block;
}

.context-menu__items {
    list-style: none;
    margin: 0;
    padding: 0;
}

.context-menu__item {
    display: block;
    margin-bottom: 4px;
}

    .context-menu__item:last-child {
        margin-bottom: 0;
    }

.context-menu__link {
    display: block;
    padding: 12px 12px;
    color: #0066aa;
    text-decoration: none;
}

    .context-menu__link:hover {
        color: #fff;
        background-color: #0066aa;
        text-decoration: none;
    }

.tooltip-inner {
    white-space: pre-line;
}
