div.toolbar {
    position: relative;
    float: left;
    margin-top: -6px;
    padding-bottom: 16px;
}

.dataTables_scroll {
    border-top: 1px solid #111;
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1439px) {
    table.dataTable.compact {
        font-size: 11px;
    }

    blockquote {
        font-size: 13.5px;
    }
}

@media only screen and (min-device-width : 1440px) and (max-device-width : 1600px) {
    table.dataTable.compact {
        font-size: 12px;
    }
}

table.dataTable thead th,
table.dataTable thead td {
    background-color: #337ab7;
    color: #fff;
}

table.dataTable thead th {
    border-bottom: none;
}

table.dataTable thead th,
table.dataTable tfoot th {
    text-align: center;
}

table.dataTable thead tr {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}


table.dataTable.display tbody tr.even > .sorting_1, table.dataTable.order-column.stripe tbody tr.even,
table.dataTable.display tbody tr.odd > .sorting_1, table.dataTable.order-column.stripe tbody tr.odd {
    background-color: inherit !important;
}


.dt-buttons,
div.dt-buttons {
    margin-top: 4px;
    float: right;
    margin-right: 20px;
}

button.dt-button,
div.dt-button,
a.dt-button {
    border-top: 0;
    border-color: transparent;
}

.export-button {
    font-size: 22px;
}

.export-button-pdf {
    color: #fe0000;
}

.export-button-excel {
    color: #02723b;
}

.export-button-csv {
    color: #65bc6c;
}

div.dataTables_filter {
    margin-top: 7px;
}

.dataTables_filter label {
    margin-right: 0.5em;
}

.dataTables_filter input {
    margin-left: 0 !important;
}

.icono-indicador {
    /*margin-left: 2px;*/
    vertical-align: middle;
    font-size: 14px;
}

/* Custom switch toggle */
.custom-switch {
    position: relative;
    display: inline-block;
    width: 45px;
    height: 22px;
}

    .custom-switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }

.custom-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #eee;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

    .custom-slider:before {
        position: absolute;
        content: "";
        height: 16px;
        width: 16px;
        left: 4px;
        bottom: 3px;
        background-color: white;
        -webkit-transition: 0.4s;
        transition: 0.4s;
    }

input:checked + .custom-slider {
    background-color: #337ab7;
}

input:focus + .custom-slider {
    box-shadow: 0 0 1px #337ab7;
}

input:checked + .custom-slider:before {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
}

/* Rounded sliders */
.custom-slider.round {
    border-radius: 20px;
}

    .custom-slider.round:before {
        border-radius: 50%;
    }

/* End Custom switch toggle */

.label-control {
    margin-top: 8px;
}

.label-control-label {
    margin-left: 16px;
}

.resumen-ca {
    padding: 16px;
}

.badge-large {
    font-size: 16px;
}

.col-resumen-ca {
    position: relative;
    text-align: center;
    cursor: pointer;
    padding: 24px;
    text-transform: uppercase;
    border-radius: 4px;
}

    .col-resumen-ca:hover,
    .col-resumen-ca:active,
    .col-resumen-ca.active {
        border: dashed 2px;
    }

    .col-resumen-ca.default:hover,
    .col-resumen-ca.default:active,
    .col-resumen-ca.default.active {
        background-color: #fafafa;
        border-color: #cacaca;
    }

    .col-resumen-ca.text-success:hover,
    .col-resumen-ca.text-success:active,
    .col-resumen-ca.text-success.active {
        background-color: #c8e6c9;
        border-color: #66b268;
    }

    .col-resumen-ca.text-danger:hover,
    .col-resumen-ca.text-danger:active,
    .col-resumen-ca.text-danger.active {
        background-color: #ffe7e8;
        border-color: #bf5b5a;
    }

    .col-resumen-ca > p {
        margin: 0;
        font-size: 24px;
        line-height: 32px;
        font-weight: bold;
    }

    .col-resumen-ca > span {
        display: inline-block;
        margin-bottom: 4px;
        font-size: 14px;
        line-height: 22px;
    }

    .col-resumen-ca > em {
        position: absolute;
        top: 24px;
        right: 0;
        width: 1px;
        height: 56px;
        background-color: #f0f0f0;
    }
