﻿.modal-pr {
    background: rgba( 255, 255, 255, .8 ) url('../../../Imagenes/ajax-loader.gif') 50% 50% no-repeat;
}

.btn-primary-line,
.btn-danger-line {
  background-color: transparent;
  background-image: none;
  border: none;
  box-shadow: none;
}

.btn-primary-line {
  color: #337ab7;
}
.btn-danger-line {
  color: #d9534f;
}

.btn-primary.btn-primary-line:hover,
.btn-primary.btn-primary-line:focus,
.btn-primary.btn-danger-line:hover,
.btn-primary.btn-danger-line:focus {
  background-color: transparent;
  background-image: none;
  border: none;
}
.btn-primary.btn-primary-line:hover,
.btn-primary.btn-primary-line:focus {
  color: #265a88;
}

.btn-primary.btn-danger-line:hover,
.btn-primary.btn-danger-line:focus {
  color: #d9534f;
}


.input-group.input-group-separado > .form-control {
  border-radius: 4px;
}
.input-group.input-group-separado > .input-group-btn,
.input-group.input-group-separado > .input-group-addon {
  margin-left: 8px;
  border-radius: 4px;
}

.input-gru .btn-inline {
  display: inline;
}

.checkbox label:after,
.radio label:after {
  content: "";
  display: table;

  clear: both;
}

.checkbox.inline label {
  margin-top: 16px;
}

.checkbox .cr,
.radio .cr {
  position: relative;
  border: 1px solid #a9a9a9;
  border-radius: 0.25em;
  width: 1.3em;
  height: 1.3em;
  float: left;
  margin-right: 0.5em;
}

.radio .cr {
  border-radius: 50%;
}

.checkbox .cr .cr-icon,
.radio .cr .cr-icon {
  position: absolute;
  font-size: 0.8em;
  line-height: 0;
  top: 50%;
  left: 20%;
}

.radio .cr .cr-icon {
  margin-left: 0.04em;
}

.checkbox label input[type="checkbox"],
.radio label input[type="radio"] {
  display: none;
}

.checkbox label input[type="checkbox"] + .cr > .cr-icon,
.radio label input[type="radio"] + .cr > .cr-icon {
  transform: scale(3) rotateZ(-20deg);
  opacity: 0;
  transition: all 0.3s ease-in;
}

.checkbox label input[type="checkbox"]:checked + .cr > .cr-icon,
.radio label input[type="radio"]:checked + .cr > .cr-icon {
  transform: scale(1) rotateZ(0deg);
  opacity: 1;
}

.checkbox label input[type="checkbox"]:disabled + .cr,
.radio label input[type="radio"]:disabled + .cr {
  opacity: 0.5;
}

/* Custom switch toggle */
.custom-switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 28px;
}

.custom-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.custom-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #eee;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.custom-slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .custom-slider {
  background-color: #337ab7;
}

input:focus + .custom-slider {
  box-shadow: 0 0 1px #337ab7;
}

input:checked + .custom-slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}

/* Rounded sliders */
.custom-slider.round {
  border-radius: 20px;
}

.custom-slider.round:before {
  border-radius: 50%;
}

/* End Custom switch toggle */
.label-control {
  margin-top: 22px;
}
.badge-large {
  font-size: 16px;
}
.badge-custom {
  margin-left: 10px;
  border-radius: 6px;
}
.label-control-label {
  margin-left: 16px;
}

div.labels-normal label {
  font-weight: 500 !important;
}

.parsley-errors-list.filled li {
  color: #b94a48;
}

.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
    width: 100%;
}