﻿#pDetalleCuenta .form-horizontal .control-label, #pDatosAcredi .form-horizontal .control-label {
    font-size: 8pt;
}

#pDetalleCuenta .panel-heading .btn {
    padding: 1px 3px !important;
    /*background-color: white !important;
    background-image: none !important;*/
}

#dPromesaPag, #dFechaDevLlam {
    display: none;
}

.gestion-contenedor .panel-body {
    max-height: 400px;
    overflow-x: scroll;
}

.gestion:first-child {
    margin-top: 0;
}

.gestion {
    margin-top: 5px;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding-left: 2px;
    padding-right: 2px;
    font-size: 9pt;
}

.row.gestion:hover {
    background-color: #ffd40036;
}

.gestion-editando {
    background-color: #ff000052;
}

.gestion-Tipo, .gestion-gestor, .gestion-resultado, .gestion-comando {
    margin-right: 5px;
}

.gestion-Tipo {
    font-weight: 900;
}

.gestion-gestor {
    color: blue;
    text-transform: uppercase;
    font-weight: 700;
}

.gestion-resultado {
    padding-left: 5px;
    padding-right: 5px;
    display: inline;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
}

.gestion-fch {
    float: right;
    font-size: 8pt;
    font-weight: 600;
}

.gestion-comando {
    float: right;
    font-size: 10pt;
    font-weight: 900;
    color: #f94712;
}

    .gestion-comando:hover {
        cursor: pointer;
        color: #0b720a;
    }

.gestion-com {
    display: block;
    color: #1a6f0b;
    text-align: justify;
    font-size: 10pt;
}

.label-primarygest {
    background-color: #4e92f0;
}

.gestion-prom {
    padding-left: 2px;
    padding-right: 2px;
}

    .gestion-prom span {
        display: block;
    }

.prom-monto {
    color: #c7254e;
}

.promesa-fecha {
    font-weight: 600;
}

.promesa-tipoCob {
    font-weight: 700;
    color: blue;
}

.promesa-monto {
    color: #f94712;
    font-weight: 600;
    font-size: 12pt;
}

.promesa-colmonto {
    padding: 0px;
    text-align: right;
    vertical-align: middle;
}

.row {
    margin-right: -15px !important;
    margin-left: -15px !important;
}

#gestionInfo {
    border-left-color: #1b809e !important;
    border: 1px solid #eee;
    border-left-color: rgb(238, 238, 238);
    border-left-width: 1px;
    border-left-width: 5px;
    border-radius: 3px;
    padding: 0;
}

    #gestionInfo .badge {
        float: left;
        margin-right: 2px;
    }

    #gestionInfo .list-group-item {
        padding: 5px 3px;
    }
.DevLlamada-fecha {
    padding-left: 5px;
    padding-right: 5px;
    padding-top:3px;
    padding-bottom:3px;
    display: inline;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
    background: red;
    margin-left: 8px;
    margin-top: 8px;
}

.DevLlamada-resultado{
    color: blue;
    text-transform: uppercase;
    font-weight: 700;
    margin-top: 8px;
}

.llamada-comentario {
    display: block;
    color: #1a6f0b;
    text-align: justify;
    font-size: 10pt;
}
.DevLlamada-coment{
    margin-top:10px;
}

.modal-backdrop {
    display: none;
}
