﻿.row {
    margin-right: -15px !important;
    margin-left: -15px !important;
}

.modal {
    border-bottom-right-radius: 0px !important;
    border-top-left-radius: 0px !important;
}

/*.modal-lg {
    z-index:99999;
}*/

.modal-content {
    border-bottom-right-radius: 6px !important;
    border-top-left-radius: 6px !important;
    margin-left: 5px !important;
    margin-right: 5px !important;
}

.modal-backdrop {
    display: none;
}

.panel-default > .panel-heading-custom {
    color: #FFFFFF;
    background: #32CD32;
    border-color: #32CD32;
}

.btn btn-success {
    background-color: #32CD32;
}

.btn:focus {
    outline: 0 !important;
}

.col-com-derecha {
    text-align: right;
}

.selTelefono {
    text-align: center;
}

.remover {
    color: red;
    cursor: pointer;
    right: 0px;
    padding: 0 10px;
    position: absolute;
    top: 1em;
    user-select: none;
}

.pull-right span {
    margin-right: 3px;
}

    .pull-right span:last-child {
        margin-right: 0px;
    }

#secTipificacionTel .col-md-3 {
    padding-right: 5px !important;
}

#secTipificacionTel .seccion-etiqueta {
    font-weight: bold;
    font-size: 80%;
}

#secTipificacionTel .row, #modalFechaAgenda .row {
    margin-bottom: 5px !important;
}

#opAgenda {
    padding: 4px 8px !important;
}

#opLlamar {
    width: 25px;
    height: 25px;
    padding: 1px;
}

/*Custom Checkbox*/

.checkbox label:after,
.radio label:after {
    content: "";
    display: table;
    clear: both;
}

.checkbox.inline label {
    margin-top: 16px;
}

.checkbox .cr,
.radio .cr {
    position: relative;
    border: 1px solid #a9a9a9;
    border-radius: 0.25em;
    width: 1.3em;
    height: 1.3em;
    float: left;
    margin-right: 0.5em;
}

.radio .cr {
    border-radius: 50%;
}

    .checkbox .cr .cr-icon,
    .radio .cr .cr-icon {
        position: absolute;
        font-size: 0.8em;
        line-height: 0;
        top: 50%;
        left: 20%;
    }

    .radio .cr .cr-icon {
        margin-left: 0.04em;
    }

.checkbox label input[type="checkbox"],
.radio label input[type="radio"] {
    display: none;
}

    .checkbox label input[type="checkbox"] + .cr > .cr-icon,
    .radio label input[type="radio"] + .cr > .cr-icon {
        transform: scale(3) rotateZ(-20deg);
        opacity: 0;
        transition: all 0.3s ease-in;
    }

    .checkbox label input[type="checkbox"]:checked + .cr > .cr-icon,
    .radio label input[type="radio"]:checked + .cr > .cr-icon {
        transform: scale(1) rotateZ(0deg);
        opacity: 1;
    }

    .checkbox label input[type="checkbox"]:disabled + .cr,
    .radio label input[type="radio"]:disabled + .cr {
        opacity: 0.5;
    }
/*End of Custom Checkbox*/

.icono-notif {
    margin-left: 8px;
    vertical-align: middle;
    font-size: 22px;
    color: #282828;
}

.contenido-elipsis {
    max-width: 200px;
    text-overflow: ellipsis;
    overflow: hidden;
}
.pop-over-dt {
    cursor: pointer;
}
.fecha_gestion .col-md-6 {
    padding: 0px 5px;
}