﻿.page-header {
    margin: 0;
}

.modal {
    border-bottom-right-radius: 0px !important;
    border-top-left-radius: 0px !important;
}

.modal-content {
    border-bottom-right-radius: 6px !important;
    border-top-left-radius: 6px !important;
}

.modal-backdrop {
    display: none;
}

.filtros {
    border: solid 1px #2563;
    border-radius: 5px;
    margin-top: 5px;
    padding: 5px;
}

.contenido {
    margin-top: 20px;
    background: #67676712;
    padding-top: 23px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.sesion {
    width: 100%;
    display: block;
    text-align: center;
    cursor: pointer;
}

    .sesion span {
        margin-right: 5px;
    }

    .sesion .glyphicon-ok, .sesion-disponible, .glyphicon-duplicate {
        color: forestgreen;
    }

    .sesion .glyphicon-remove {
        color: red;
    }

    .sesion .glyphicon-refresh, .sesion .glyphicon-repeat {
        color: #0008ff;
    }

        .sesion .glyphicon-refresh:hover {
            color: #ff0000;
        }

    .sesion .glyphicon.icono {
        cursor: pointer;
    }

#contenido img, #contenido video, #contenido iframe, #archivoPdf iframe {
    margin-top: 1em;
    width: 100%;
}

#contenido iframe, #archivoPdf iframe {
    border: none;
}

#datSesion-mensaje, #datFirmas-mensaje {
    padding-bottom: 5px;
    display: block;
    font-weight: 600;
    color: #466eff;
}

.ready {
    color: #fd7e14;
}

.signed {
    color: #008e2e;
}

.failed {
    color: red;
}

.cancelled {
    color: #002240;
}

.tsigned {
    color: #008e2e;
}

.tfailed {
    color: red;
}

.tcancelled {
    color: #002240;
}

.solicitud {
    color: #0008ff;
}

    .solicitud:hover {
        cursor: pointer;
    }

    .solicitud.pendiente {
        color: #d20000;
    }
