﻿.acciones {
    margin-bottom: 15px;
}

.btn:focus {
    outline: 0 !important;
}

.page-header {
    margin: 0px 0px 5px 0px;
}

.tab-content {
    padding-top: 5px;
}

.row {
    padding-left: -15px;
    padding-right: -15px;
}

#domBancario .acciones .btn {
    margin-top: 25px;
}
