﻿@page {}

body, html 
{    
    font-size: 0.8em;
    background-color: white;
}

#main, .side-body
{
    width:100%;
    margin:0;
    padding:0;
}

#sidenav, .side-menu, .MoverMenuOpen, .MoverMenu
{
    display: none;
    visibility: hidden;
}

.panel 
{
    border:0;
    padding:0;
    margin:0;
}

    .panel .panel-heading
    {
        display:none;
    }

    .panel .panel-body 
    {
        padding:0;
    }

.tooltipIdeaLeft:after
{
    content: "";
}

.ajax__tab_header span 
{
    display:none;
}

.ajax__tab_header span.ajax__tab_active
{
    display:block;
}

/* COL PRINT */
.col-print-1 {width:8%;  float:left;}
.col-print-2 {width:16%; float:left;}
.col-print-3 {width:25%; float:left;}
.col-print-4 {width:33%; float:left;}
.col-print-5 {width:42%; float:left;}
.col-print-6 {width:50%; float:left;}
.col-print-7 {width:58%; float:left;}
.col-print-8 {width:66%; float:left;}
.col-print-9 {width:75%; float:left;}
.col-print-10{width:83%; float:left;}
.col-print-11{width:92%; float:left;}
.col-print-12{width:100%; float:left;}

.col-print-1 pre, .col-print-2 pre, .col-print-3 pre, .col-print-4 pre ,
.col-print-5 pre, .col-print-6 pre, .col-print-7 pre, .col-print-8 pre,
.col-print-9 pre, .col-print-10 pre, .col-print-11 pre, .col-print-12 pre 
{
    padding:5px;
}