﻿
:focus {
    outline: none;
}

.row {
    margin-right: 0;
    margin-left: 0;
}

.GridContenedor {
    overflow-x: auto;
    margin: 0px 0 5px 0;
}

/* small screen */

MAMA @media (max-width: 768px) {
    /* Slide in animation */
    @-moz-keyframes slidein {
        0% {
            left: -300px;
        }

        100% {
            left: 10px;
        }
    }

    @-webkit-keyframes slidein {
        0% {
            left: -300px;
        }

        100% {
            left: 10px;
        }
    }

    @keyframes slidein {
        0% {
            left: -300px;
        }

        100% {
            left: 10px;
        }
    }

    @-moz-keyframes slideout {
        0% {
            left: 0;
        }

        100% {
            left: -300px;
        }
    }

    @-webkit-keyframes slideout {
        0% {
            left: 0;
        }

        100% {
            left: -300px;
        }
    }

    @keyframes slideout {
        0% {
            left: 0;
        }

        100% {
            left: -300px;
        }
    }

    @-moz-keyframes bodyslidein {
        0% {
            left: 0;
        }

        100% {
            left: 300px;
        }
    }

    @-webkit-keyframes bodyslidein {
        0% {
            left: 0;
        }

        100% {
            left: 300px;
        }
    }

    @keyframes bodyslidein {
        0% {
            left: 0;
        }

        100% {
            left: 300px;
        }
    }

    @-moz-keyframes bodyslideout {
        0% {
            left: 300px;
        }

        100% {
            left: 0;
        }
    }

    @-webkit-keyframes bodyslideout {
        0% {
            left: 300px;
        }

        100% {
            left: 0;
        }
    }

    @keyframes bodyslideout {
        0% {
            left: 300px;
        }

        100% {
            left: 0;
        }
    }
}

/* Slide side body*/
.side-body {
    position: relative;
    -moz-animation: bodyslideout 300ms forwards;
    -o-animation: bodyslideout 300ms forwards;
    -webkit-animation: bodyslideout 300ms forwards;
    animation: bodyslideout 300ms forwards;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    padding-top: 60px;
}

.body-slide-in {
    margin-left: 5px;
    -moz-animation: bodyslidein 300ms forwards;
    -o-animation: bodyslidein 300ms forwards;
    -webkit-animation: bodyslidein 300ms forwards;
    animation: bodyslidein 300ms forwards;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

html {
    transform-origin: 0px 0px 0px;
    -webkit-transform-origin: 0px 0px 0px;
    -moz-transform-origin: 0px 0px 0px;
    -o-transform-origin: 0px 0px 0px;
}


body {
    margin: 0px;
    padding: 0px;
}

.sidenav {
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    transition: 0.5s;
}

.nav-side-menu #inner-Menu {
    position: absolute;
    width: 100%;
    bottom: 0px;
    top: 175px;
    overflow: auto;
    transition: 0.5s;
}

#main {
    transition: margin-left .5s;
    padding: 0px 16px 16px 16px;
}

#btnOcultarM {
    display: none;
}

.iconoFle {
    color: #18BF55;
    font-size: 30px;
}

.nav-side-menu {
    position: fixed;
    top: 0px;
    width: 300px;
    height: 100%;
    font-family: verdana;
    font-size: 12px;
    font-weight: 200;
    background: -moz-linear-gradient(top, #003399 0%, #003399);
    background: -webkit-gradient( linear, left top, left bottom, from(#003399), to(#003399));
    color: #23282e;
    padding-top: 40px;
    z-index: 100;
}

    .nav-side-menu .brand {
        display: block;
        text-align: center;
    }

        .nav-side-menu .brand img {
            width: 40%;
            height: 40%;
        }

    .nav-side-menu .toggle-btn {
        display: none;
    }

    .nav-side-menu ul, .nav-side-menu li {
        list-style: none;
        padding: 5px 15px;
        margin: 0px;
        line-height: 30px;
        cursor: pointer;
    }

        .nav-side-menu ul :not(collapsed) .arrow:before {
            font-family: FontAwesome;
            content: "\f078";
            display: inline-block;
            padding-left: 0px;
            padding-right: 0px;
            vertical-align: middle;
            float: right;
        }

        .nav-side-menu ul .active, .nav-side-menu li .active {
            border-left: 0px solid #003399;
            background: -moz-linear-gradient(top, #003399 0%, #003399);
            background: -webkit-gradient( linear, left top, left bottom, from(#003399), to(#003399));
        }

        .nav-side-menu ul .sub-menu li.active, .nav-side-menu li .sub-menu li.active {
            color: #130090;
        }

            .nav-side-menu ul .sub-menu li.active a, .nav-side-menu li .sub-menu li.active a {
                color: White;
            }

        .nav-side-menu ul .sub-menu li, .nav-side-menu li .sub-menu li {
            background: -moz-linear-gradient(top, #003399 0%, #003399);
            border: none;
            line-height: 15px;
            border-bottom: 1px solid #003399;
            margin-left: 0px;
        }

            .nav-side-menu ul .sub-menu li:hover, .nav-side-menu li .sub-menu li:hover {
                background-color: #003399;
                border-top-left-radius: 10px;
                border-bottom-left-radius: 10px;
                animation-name: example;
                animation-duration: .25s;
                border-left: 4px solid #cbcb0d;
                box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
            }

            .nav-side-menu ul .sub-menu li:before {
                font-family: FontAwesome;
                display: inline-block;
                padding-left: 10px;
                padding-right: 10px;
                vertical-align: middle;
            }

    .nav-side-menu li {
        padding-left: 0px;
        border-radius: 10px;
    }

        .nav-side-menu li:hover {
            border-radius: 10px;
            background-color: #6390E2;
            -webkit-transition: all .5s ease;
            -moz-transition: all .5s ease;
            -o-transition: all .5s ease;
            -ms-transition: all .5s ease;
            transition: all .5s ease;
        }

        .nav-side-menu li a {
            text-decoration: none;
            color: white;
        }

            .nav-side-menu li a i {
                padding-left: 10px;
                width: 20px;
                padding-right: 20px;
            }


@media (max-width: 767px) {

    .MoverMenu {
        display: none;
    }

    .MoverMenuOpen {
        display: none;
    }

    /* Main body section */
    .side-body {
        margin-left: 0px;
        margin-top: 5px;
        padding-top: 0px;
    }

    .side-menu {
    }

    .nav-side-menu {
        position: relative;
        width: 100%;
        margin-bottom: 10px;
        padding-top: 0px;
        background: #efefef;
        background: linear-gradient(top, #efefef 0%, #ccc 100%);
        background: -moz-linear-gradient(top, #efefef 0%, #ccc 100%);
        background: -webkit-linear-gradient(top, #efefef 0%,#ccc 100%);
        box-shadow: 0px 0px 9px rgba(0,0,0,0.15);
    }

        .nav-side-menu #inner-Menu {
            position: initial;
            top: initial;
            left: initial;
            bottom: initial;
            width: auto;
            background-color: #f6f6f6;
            overflow: auto;
        }

        .nav-side-menu .toggle-btn {
            display: block;
            cursor: pointer;
            position: absolute;
            right: 20px;
            top: 20px;
            z-index: 10 !important;
            color: #272727;
            text-align: center;
            font-size: 2em;
        }

    .brand {
        text-align: left !important;
        font-size: 22px;
        padding-left: 20px;
        line-height: 50px !important;
    }

    .brandText {
        text-align: left !important;
        font-size: 22px;
        padding-left: 20px;
        line-height: 50px !important;
        display: block;
        color: White; /*Cambiar Color Titulo*/
    }

        .brandText img {
            -webkit-transform: scale(0.7); /* Saf3.1+, Chrome */
            -moz-transform: scale(0.7); /* FF3.5+ */
            -ms-transform: scale(0.7); /* IE9 */
            -o-transform: scale(0.7); /* Opera 10.5+ */
            transform: scale(0.7);
        }

    .nav-side-menu li a {
        font-size: 1em;
        color: #352c2c;
    }

    .nav-side-menu li:hover a {
        color: #eee;
    }

    .nav-side-menu ul .sub-menu li,
    .nav-side-menu li .sub-menu li {
        background: inherit;
        border: none;
        line-height: 15px;
        margin-left: 0px;
    }

        .nav-side-menu ul .sub-menu li:hover,
        .nav-side-menu li .sub-menu li:hover {
            background-color: inherit;
            text-decoration: none;
            color: #eee;
            border-radius: 10px;
            background-color: #6390E2;
            -webkit-transition: all .6s ease;
            -moz-transition: all .6s ease;
            -o-transition: all .6s ease;
            -ms-transition: all .6s ease;
            transition: all .6s ease;
        }

    .img-responsive2 {
        display: none;
    }

    .img-responsive3 {
        display: none;
    }

    .img-responsive4 {
        display: none;
    }

    .sizebody {
        /*height: 800px;*/
    }

    /* Modal Content */
    .modal-content {
        border-bottom-right-radius: 2em !important;
        border-top-left-radius: 2em !important;
        position: relative !important;
        background-color: #fefefe !important;
        margin: auto 0% !important;
        padding: 0 !important;
        border: 1px solid #888 !important;
        width: 80%;
        height: auto;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
        -webkit-animation-name: animatetop;
        -webkit-animation-duration: 0.4s;
        animation-name: animatetop;
        animation-duration: 0.4s;
    }
}

@media (min-width: 767px) {
    .MoverMenu {
        position: absolute;
        top: 60px;
        right: -25px;
        background-color: #fff;
        padding: 8px 1px;
        box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        cursor: pointer
    }

        .MoverMenu a span {
            font-size: 1.8em;
            color: #5e5e5e;
        }

    .MoverMenuOpen {
        position: absolute;
        top: 60px;
        right: -25px;
        background-color: #fff;
        padding: 8px 1px;
        box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        cursor: pointer
    }

        .MoverMenuOpen a span {
            font-size: 1.8em;
            color: #5e5e5e;
        }

    /* Main body section */
    .nav-side-menu .menu-list .menu-content {
        display: block;
    }

    .sizebody {
        margin-left: 300px;
        /*height: 800px;*/
    }

    .img-responsive2 {
        display: block;
        max-width: 50%;
        height: auto;
        margin: 0 auto;
    }

    .img-responsive3, .img-responsive4 {
        display: block;
    }


    .nav-side-menu li a {
        font-size: 1em;
    }


    .brandText {
        text-align: left !important;
        font-size: 22px;
        padding-left: 20px;
        line-height: 50px !important;
        display: none;
        color: White; /*Cambiar Color Titulo*/
    }

    /* Modal Content */
    .modal-content {
        border-bottom-right-radius: 2em !important;
        border-top-left-radius: 2em !important;
        position: relative !important;
        background-color: #fefefe !important;
        margin: auto 15% !important;
        padding: 0 !important;
        border: 1px solid #888 !important;
        height: auto;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
        -webkit-animation-name: animatetop;
        -webkit-animation-duration: 0.4s;
        animation-name: animatetop;
        animation-duration: 0.4s;
    }

    .modal.modal-wide .modal-dialog {
        width: 90%;
        margin-left: -50px;
    }

    .modal.modal-wide .modal-content {
        width: 90%;
    }
}


/* The Modal (background) */
.modal {
    border-top-left-radius: 3em !important;
    border-bottom-right-radius: 3em !important;
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {
        top: -300px;
        opacity: 0;
    }

    to {
        top: 0;
        opacity: 1;
    }
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0;
    }

    to {
        top: 0;
        opacity: 1;
    }
}

/* Loaders */
.animationload {
    background-color: #fff;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10000;
}

.osahanloading {
    animation: 1.5s linear 0s normal none infinite running osahanloading;
    background: #fed37f none repeat scroll 0 0;
    border-radius: 50px;
    height: 50px;
    left: 50%;
    margin-left: -25px;
    margin-top: -25px;
    position: absolute;
    top: 50%;
    width: 50px;
}

    .osahanloading::after {
        animation: 1.5s linear 0s normal none infinite running osahanloading_after;
        border-color: #85d6de transparent;
        border-radius: 80px;
        border-style: solid;
        border-width: 10px;
        content: "";
        height: 80px;
        left: -15px;
        position: absolute;
        top: -15px;
        width: 80px;
    }

.osahanloading_delaytext {
    position: relative;
    color: #888;
    top: 60%;
    margin-left: 200px;
    width: 50px;
    border: solid 1px #003399;
}

@keyframes osahanloading {
    0% {
        transform: rotate(0deg);
    }

    50% {
        background: #85d6de none repeat scroll 0 0;
        transform: rotate(180deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* Blinker */
.blink {
    animation: blinker 1s linear infinite;
}

@keyframes blinker {
    50% {
        opacity: 0.0;
    }
}

/* Switch (CheckBox) */
.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
}

    .switch input {
        display: none;
    }

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

    .slider:before {
        position: absolute;
        content: "";
        height: 15px;
        width: 15px;
        left: 2px;
        bottom: 2px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
    }

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
}

.slider.round {
    border-radius: 20px;
}

    .slider.round:before {
        border-radius: 50%;
    }

/* Ajax Control Toolkit TABS */
.actTab .ajax__tab_header {
    display: block;
    border-bottom: solid 1px #ddd;
}

    .actTab .ajax__tab_header .ajax__tab_outer {
        padding: 8px 15px;
        margin-right: 3px;
    }

    .actTab .ajax__tab_header .ajax__tab_inner {
        color: #337ab7;
    }

.actTab .ajax__tab_hover .ajax__tab_outer {
    border-radius: 4px 4px 0 0;
    background-color: #eee;
    border-bottom: solid 1px #eee;
    cursor: pointer;
}

.actTab .ajax__tab_hover .ajax__tab_inner {
    color: #337ab7;
}

.actTab .ajax__tab_active .ajax__tab_outer {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px 4px 0 0;
    border-bottom-color: transparent;
    position: relative;
    top: 1px;
}

.actTab .ajax__tab_active .ajax__tab_inner {
    color: #555;
}

.actTab .ajax__tab_body {
    padding: 20px 10px;
    background-color: #fff;
    border-top-width: 0;
    border: solid 1px #d7d7d7;
    border-top-color: #ffffff;
    border-radius: 0px 0px 4px 4px;
}

    .actTab .ajax__tab_body::after {
        display: block;
        content: "";
        clear: both;
    }

/* Pagination */
.pagination-ty a {
    border-radius: 5px;
    display: block;
    padding: 3px 8px;
    margin: 0px 1px;
    text-decoration: none;
}

    .pagination-ty a:hover {
        color: white;
        background-color: #e5e5e5;
    }

.pagination-ty span {
    border-radius: 5px;
    display: block;
    padding: 3px 8px;
    margin: 0px 1px;
    background-color: #e6e600;
    color: #343434;
    font-weight: bold;
}

/* Loaders */
#loader-background {
    opacity: 0.5;
    width: 100%;
    height: 100%;
    z-index: 1050;
    top: 0;
    left: 0;
    position: fixed;
    background: rgba(0,0,0,0.4);
}

#loader-content {
    position: fixed;
    left: 50%;
    top: 50%;
    background: transparent url("/Imagenes/ajax-loader.png") center center no-repeat;
    z-index: 1051;
    border-radius: 10px;
    background-color: #fff;
    height: 50px;
    width: 80px;
    margin-left: -40px; /* Half of the width */
    margin-left: -25px; /* Half of the height */
}

/* ToolTip Icon FA */
.tooltipIdeaLeft {
    position: relative;
}

    .tooltipIdeaLeft:hover:after {
        content: "\f4ad";
        font-family: "Font Awesome 5 Free";
        font-size: 0.8em;
        color: #888;
        position: relative;
        left: -2px;
        top: -5px;
    }

    .tooltipIdeaLeft:after {
        content: "\f075";
        font-family: "Font Awesome 5 Free";
        font-size: 0.8em;
        color: #888;
        position: relative;
        left: -2px;
        top: -5px;
    }

/* TABLES */
.table-hover-warning > tbody > tr.active:hover > td,
.table-hover-warning > tbody > tr.active:hover > th,
.table-hover-warning > tbody > tr:hover > .active,
.table-hover-warning > tbody > tr > td.active:hover,
.table-hover-warning > tbody > tr > th.active:hover {
    background-color: #337ab7;
}

.table-hover-warning > tbody > tr:hover {
    background-color: #fcf8e3
}

/* SCROLL BAR */
.scroll1::-webkit-scrollbar {
    width: 8px;
}

.scroll1::-webkit-scrollbar-track {
    background: #ddd;
}

.scroll1::-webkit-scrollbar-thumb {
    background: #666;
}

.scroll2::-webkit-scrollbar {
    width: 6px;
}

.scroll2::-webkit-scrollbar-thumb {
    background: #eded04;
    -webkit-border-radius: 10ex;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
    background: #eded04;
    -webkit-border-radius: 10ex;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5)
}
/* Start by setting display:none to make this hidden.
   Then we position it in relation to the viewport window
   with position:fixed. Width, height, top and left speak
   for themselves. Background we set to 80% white with
   our animation centered, and no-repeating */
.modal-pr {
    display: none;
    position: fixed;
    z-index: 99999999;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba( 255, 255, 255, .8 ) url('/Imagenes/ajax-loader.png') 50% 50% no-repeat;
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.loading .modal-pr {
    overflow: hidden;
}

/* Anytime the body has the loading class, our
   modal element will be visible */
body.loading .modal-pr {
    display: block;
}

.row-clear {
    margin-bottom: 5px;
}

/* PLANTILLAS COBRANZA */
.plantilla_GV {
    margin: 25px 0px;
    border: 1px solid #F8F8F8;
}

    .plantilla_GV tr td {
        position: relative;
    }

    .plantilla_GV tr th {
        text-align: center;
        background-color: #fff;
        padding: 10px 0px;
        font-family: Verdana, sans-serif;
        color: rgba(0,0,0,0.5);
    }

    .plantilla_GV tbody > tr:last-child {
        text-align: center;
        background-color: #fff;
    }

    .plantilla_GV .TipoConvenioDesc {
        font-size: .7em;
    }

    .plantilla_GV .ConvenioDesc {
        font-size: .8em;
        font-weight: bold;
    }

    .plantilla_GV .lbtnTipoConvenio {
        position: relative;
        background-color: #fff;
        color: #888;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        padding: 6px 12px;
        width: 100%;
    }

        .plantilla_GV .lbtnTipoConvenio:hover,
        .plantilla_GV .lbtnTipoConvenio:active,
        .plantilla_GV .lbtnTipoConvenio_Selected {
            background-color: #e6e600;
            color: #fff;
        }

    .plantilla_GV .lbtnEliminarConvenio {
        position: absolute;
        bottom: 2px;
        right: 20px;
        color: #888;
    }

    .plantilla_GV .lbtnTipoConvenio i {
        font-size: 2em;
    }

/**** Custom control classes ****/
.txt-droid {
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid #888;
    width: 100%;
}
