#headerBar {
    background-color:#fff;
    position:fixed;
    text-align:right;
    width:100%;
    height:40px;
    padding-right:25px;

    display:flex;
    align-items:center;
    right:0;    
    z-index:99;
    box-shadow:0 1px 6px 0 rgba(32,33,36,0.28);
}

    #headerBar .headerMenu {   
        float:right;     
        width:auto;        
        background-color:goldenrod;
    }    

/***********************/

.navbar-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;

    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    margin-left: auto!important;
    align-items:center;
}

.navbar-nav .notification {
    position: absolute;
    background-color: #ff646d;
    text-align: center;
    border-radius: 10px;
    min-width: 17px;
    height: 17px;
    font-size: 11px;
    color: #ffffff;
    font-weight: bold;
    line-height: 17px;
    top: 11px;
    right: 12px;
}

.hidden-caret > #headerBar ul .dropdown-toggle::after {
    content: initial;
}

#headerBar ul .dropdown-toggle::after {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: .255em;
    vertical-align: .255em;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;
    color: #666;
}

.navbar-nav .nav-item .nav-link {
    display: inline-block;
    vertical-align: middle;
    color: #666;
    line-height: 55px;
    letter-spacing: 0.04em;
    padding: 0 20px 0 0;
    position: relative;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
}

.navbar-nav .nav-item .nav-link i {
    font-size: 16px;
    width: 25px;
    vertical-align: middle;
}

.la {
    font: normal normal normal 16px/1 LineAwesome;
    font-size: inherit;
    text-decoration: inherit;
    text-rendering: optimizeLegibility;
    text-transform: none;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
}

.la, .la-stack {
    display: inline-block;
}

.navbar-header .dropdown-toggle::after {
    vertical-align: middle;
    color: #555;
    margin-left: 0;
}

.navbar-expand-lg .navbar-nav .dropdown-menu {
    position: absolute;
    left:initial;
    right:0;
}

.dropdown-menu-top {
    border: 1px solid rgba(120, 130, 140, 0.13);
    border-radius: 0;    
    -webkit-box-shadow: 0 !important;
    -moz-box-shadow: 0 !important;
    padding-bottom: 8px;
    margin-top: 0;
    left:initial;
    right:0;
}

.dropdown-menu.show {
    display: block;
}

.dropdown-user {
    
}

.dropdown-item {
    font-size: 14px;
    display: block;
    width: 100%;
    padding: .25rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
    text-decoration:none;
}

.dropdown-item:focus, 
.dropdown-item:hover {
    color: #16181b;
    text-decoration: none;
    background-color: #f8f9fa;
}

.dropdown-item:active {
    color: #fff;
    text-decoration: none;
    background-color: #007bff;
}

.user-box {
    display: flex;
    padding: .25rem 1rem;
}

.user-box .u-img {
    position:relative;
    width: 80px;
    webkit-border-radius: 5px;
    border-radius: 5px;
    overflow: hidden;
}

.user-box .u-img img {
    width: 100%;
    border-radius: 5px;
}

.user-box .u-img span {
    background: rgba(0,0,0,.54);
    bottom: 0;
    color: #fff;
    font-size: 9px;
    font-weight: bold;
    left: 0;
    line-height: 6px;
    position: absolute;
    padding: 4px 0;
    text-align: center;
    width: 100%;
}

.user-box .u-text {
    min-width:250px;
    padding: 0 10px;
}

.user-box .u-text h4 {
    margin-bottom: 0;
    font-size: 18px;
}

.user-box .u-text .text-muted {
    font-size: 13px;
    margin-bottom: 5px;
}

.user-box .u-text .btn {
    font-size: 12px;
}

/*****************/
.profile-pic,
.profile-pic:hover,
.profile-pic:active,
.profile-pic:visited,
.profile-pic:focus{
    text-decoration:none;
}
.profile-pic .img-circle {
    border-radius: 50%;
}

.profile-pic span {
    font-size: 11px;
    font-weight: 600;
    padding: 0 10px;
    color: #555;
}

/*********************/
@media (max-width: 767px) {
    #headerBar {
        top:15px;
        right:50px;
        z-index:101;

        background:initial;
        box-shadow:initial;
        display:none;
    }
}
