﻿/*
    Principal Colores
*/
/*Centrado de Panels -->*/
.nav {
    width: 100%;
    padding-left: 5%;
}

html, body, .container-table {
    height: 100%;
}

.container-table {
    display: table;
}

.vertical-center-row {
    display: table-cell;
    vertical-align: middle;
}

.col-centered {
    float: none;
    margin: 0 auto;
}

/*Altura del modal del msg*/
#myModal{top:40% !important;}


/*<-- Centrado de Panels */

/*Para Cambiar los colores de los panels y los botones -->*/
.panel-default > .panel-heading-custom {
    background: #2E64FE !important;
    color: #fff !important;
}

.info th {
    background-color: #2E64FE !important;
    color: #fff !important;
}

.panel-title {
    color: #fff !important;
}




.divpopup   
    {
        border-radius:15px 15px 0px 0px !important;
        background-color:#2E64FE !important;
        color: #fff !important;
        text-align:center !important;
        height:30px !important;       
     
}

.btn-primary {
    color: #fff;
    background-color: #2E64FE !important;
    border-color: #2e6da4 !important;
    background-image: none;
}

.Pagina {
    width:100%;
    overflow:auto;
}

body {
scrollbar-3dlight-color:orange; 
scrollbar-arrow-color:maroon; 
scrollbar-base-color:gold; 
scrollbar-darkshadow-color:maroon; 
scrollbar-face-color:gold; 
scrollbar-highlight-color:yellow; 
scrollbar-shadow-color: maroon; 

}

/* DEFAULTS
----------------------------------------------------------*/
div.grafica {
    width: 400px;
    height: 300px;
    float: left;
    border: 1px dashed gainsboro;
}

.style2 {
    width: 16px;
}

.style3 {
    width: 257px;
}

.style4 {
    height: 40px;
    width: 15%;
}

.style5 {
    width: 257px;
    height: 437px;
}

.style6 {
    height: 437px;
    width: 801px;
}

.style7 {
    width: 16px;
    height: 437px;
}

.style8 {
    width: 801px;
}


.TablaTextoTitulo {
    font-family: Verdana, Helvetica, Arial, sans-serif;
    font-size: 15px;
    color: #FFFFFF;
    line-height: 14px;
    font-weight: bold;
    padding-left: 10px;
    background: url(imgs/fondo_celdatitulo.gif) repeat-x;
}


.Subtitulo {
    color: #484848;
    font-size: 18px;
    font-family: Helvetica, Verdana, Arial, sans-serif;
    font-weight: bold;
    line-height: 20px;
}

body {
    background: #EEEDED;
    font-size: 12px;
    font-family: sans-serif,"Helvetica Neue", "Lucida Grande", "Segoe UI", Arial, Helvetica, Verdana;
    margin: 0px;
    padding: 0 1em 1em 1em;
}

* {
    font-family: sans-serif;
    font-size: 14px;
}

a:link, a:visited {
    color: #034af3;
}

a:hover {
    color: #1d60ff;
    text-decoration: none;
}

a:active {
    color: #034af3;
}

p {
    margin-bottom: 10px;
    line-height: 1.6em;
}


/* HEADINGS   
----------------------------------------------------------*/

h1, h2, h3, h4, h5, h6 {
    font-size: 1.5em;
    font-variant: small-caps;
    text-transform: none;
    font-weight: 200;
    margin-bottom: 0px;
}

h1 {
    font-size: 1.6em;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

h2 {
    font-size: 1.5em;
    font-weight: 600;
    padding-top: 1em;
    margin-bottom: 0;
    clear: both;
    color: #ccc;
}

h3 {
    font-size: 1.2em;
}

h4 {
    font-size: 1.1em;
}

h5, h6 {
    font-size: 1em;
}

/* this rule styles <h1> and <h2> tags that are the 
first child of the left and right table columns */
.rightColumn > h1, .rightColumn > h2, .leftColumn > h1, .leftColumn > h2 {
    margin-top: 0px;
}


/* PRIMARY LAYOUT ELEMENTS   
----------------------------------------------------------*/

.page {
    width: 960px;
    background-color: #fff;
    margin: 20px auto 0px auto;
    border: 1px solid #496077;
}

.header {
    position: relative;
    margin: 0px;
    padding: 0px;
    background: #4b6c9e;
    width: 100%;
}

    .header h1 {
        font-weight: 700;
        margin: 0px;
        padding: 0px 0px 0px 20px;
        color: #f9f9f9;
        border: none;
        line-height: 2em;
        font-size: 2em;
    }

.main {
    padding: 0px 12px;
    margin: 12px 8px 8px 8px;
    min-height: 420px;
}

.leftCol {
    padding: 6px 0px;
    margin: 12px 8px 8px 8px;
    width: 200px;
    min-height: 200px;
}

.footer {
    color: #4e5766;
    padding: 8px 0px 0px 0px;
    margin: 0px auto;
    text-align: center;
    line-height: normal;
}


/* FORM ELEMENTS   
----------------------------------------------------------*/

fieldset {
    margin: 1em 0px;
    padding: 1em;
    border: 1px solid #ccc;
}

    fieldset p {
        margin: 2px 12px 10px 10px;
    }

    fieldset.login label, fieldset.register label, fieldset.changePassword label {
        display: block;
    }

    fieldset label.inline {
        display: inline;
    }

legend {
    font-size: 1.1em;
    font-weight: 600;
    padding: 2px 4px 8px 4px;
}

input.textEntry {
    width: 320px;
    border: 1px solid #ccc;
}

input.passwordEntry {
    width: 320px;
    border: 1px solid #ccc;
}

div.accountInfo {
    width: 42%;
}

/* MISC  
----------------------------------------------------------*/

.clear {
    clear: both;
}

.title {
    display: block;
    float: left;
    text-align: left;
    width: auto;
}

.loginDisplay {
    font-size: 1.1em;
    display: block;
    text-align: right;
    padding: 10px;
    color: White;
}

    .loginDisplay a:link {
        color: white;
    }

    .loginDisplay a:visited {
        color: white;
    }

    .loginDisplay a:hover {
        color: white;
    }

.failureNotification {
    font-size: 1.2em;
    color: Red;
}

.bold {
    font-weight: bold;
}

.submitButton {
    text-align: right;
    padding-right: 10px;
}



div.grafica {
    width: 400px;
    height: 300px;
    float: left;
    border: 1px dashed gainsboro;
}




code {
    display: block;
    background-color: #eee;
    border: 1px dashed #999;
    padding: 0.5em;
    margin: 0.5em;
    color: #666;
    font-size: 10pt;
}

    code b {
        color: black;
    }

ul {
    font-size: 10pt;
}

    ul li {
        margin-bottom: 0.0em;
    }

    ul.options li {
        list-style: none;
        margin-bottom: 1em;
    }

    ul li i {
        color: #999;
    }


.style2 {
    width: 16px;
}

.style3 {
    width: 257px;
}

.style4 {
    height: 40px;
    width: 15%;
}

.style5 {
    width: 257px;
    height: 437px;
}

.style6 {
    height: 437px;
    width: 801px;
}

.style7 {
    width: 16px;
    height: 437px;
}

.style8 {
    width: 801px;
}


.SelectStyle {
    width: 220px;
    position: relative;
}

select {
    width: 100%;
    background: #F3F3F3;
    color: #585757;
    padding: 5px;
    font-size: 13px;
    line-height: 100%;
    border: 1px solid #C1C1C1;
    border-radius: 0;
    height: 30px;
    -webkit-appearance: none;
}

option {
    padding: 10px;
}


.Boton {
    padding: 5px 15px;
    background: #ccc;
    border: 0 none;
    cursor: pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    width: 80px;
    height: 30px;
    font-size: medium;
    font-color: red;
}

/*grid*/
/* the style for the table headers */
.GridViewStyle {
    border: 1px solid #;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    font-size: 18px;
    vertical-align: Top;
}
/*Header*/
.HeaderStyle {
    border: 1px, solid, #FFF;
    background-color: #4b6c9e;
    font-size: medium;
    height: 28px;
}

    .HeaderStyle th {
        padding: 5px 0px 5px 0px;
        color: #333;
        text-align: center;
        font-size: medium;
        height: 28px;
        border: 1px, solid, #ffffff;
        color: #ffffff;
    }
/*Row*/
tr.RowStyle {
    text-align: center;
    background-color: #ffffff;
    font-size: small;
    height: 22px;
}

tr.AlternatingRowStyle {
    text-align: center;
    background-color: #709b40;
    font-size: small;
    height: 22px;
}

tr.RowStyle:hover {
    cursor: pointer;
    background-color: #F7FE2E;
}

tr.AlternatingRowStyle:hover {
    cursor: pointer;
    background-color: #F7FE2E;
}
/*Footer*/
.FooterStyle {
    background-color: #465c71;
    height: 25px;
}
/*Pager*/
.PagerStyle table {
    margin: auto;
    border: none;
}

tr.PagerStyle {
    text-align: left;
    vertical-align: top;
    background-color: #ddd;
}

.PagerStyle table td {
    border: 1px;
    padding: 5px;
}

.PagerStyle a {
    border: 1px solid #fff;
    padding: 2px 5px 2px 5px;
    color: #333;
    text-decoration: none;
}

.PagerStyle span {
    padding: 2px 5px 2px 5px;
    color: #000;
    font-weight: bold;
    border: 2px solid #465c71;
}

/*Label*/
.labelgrid {
    font-size: medium;
    color: Black;
}

ctrl_TituloPagina {
    font-size: 25px;
    font-family: Arial !important;
}


/* Modal*/
.modal.modal-wide .modal-dialog {
    width:90%;
}
.modal-wide .modal-body {
    overflow-y:hidden;
}

.modal.modal-wide iframe {
    width:100%;height:85%;
}

/* Switch (CheckBox) */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}
    
    .switch input {
        display: none;
    }

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

    .slider:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
    }

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

    .slider.round:before {
        border-radius: 50%;
    }

/* Ajax Control Toolkit TABS */
.actTab .ajax__tab_header
{
    font-family: "Helvetica Neue" , Arial, Sans-Serif;
    font-size: 14px;
    font-weight:bold;
    display: block;

}
.actTab .ajax__tab_header .ajax__tab_outer
{
    border-color: #222;
    color: #222;
    padding-left: 10px;
    margin-right: 3px;
    border:solid 1px #d7d7d7;
}
.actTab .ajax__tab_header .ajax__tab_inner
{
    border-color: #666;
    color: #666;
    padding: 3px 10px 2px 0px;
}
.actTab .ajax__tab_hover .ajax__tab_outer
{
    background-color:#9c3;
}
.actTab .ajax__tab_hover .ajax__tab_inner
{
    color: #fff;
}
.actTab .ajax__tab_active .ajax__tab_outer
{
    border-bottom-color: #ffffff;
    background-color: #d7d7d7;
}
.actTab .ajax__tab_active .ajax__tab_inner
{
    color: #000;
    border-color: #333;
}
.actTab .ajax__tab_body
{
    font-family: verdana,tahoma,helvetica;
    font-size: 10pt;
    background-color: #fff;
    border-top-width: 0;
    border: solid 1px #d7d7d7;
    border-top-color: #ffffff;
}