﻿.form-group-command {
    padding: 24px 0 0 0;
}

.row-filtro, #dAgregarCuentas {
    border-radius: 5px;
}

.row-filtro {
    background-color: #eaeaea;
}

.acciones {
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #f7f7f9;
    border: 1px solid #e1e1e8;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.row-cuentas button:first-child {
    margin-left: 0;
}

.row-cuentas button {
    margin-left: 3px;
}

.parsley-errors-list.filled {
    display: inline-block;
}

    .parsley-errors-list.filled li {
        color: #b94a48;
    }

#tCuentasExlcuidas th, td {
    white-space: nowrap;
}

#dAgregarCuentas {
    background-color: #fffeed;
}

#tRegistros textarea {
    resize: none;
    width: 100%;
}

#tRegistros tbody tr td {
    padding: 5px 10px !important;
}
