﻿.page-header {
    margin: 0;
}

.filtros {
    border: solid 1px #2563;
    border-radius: 5px;
    margin-top: 5px;
    padding: 5px;
}

.contenido {
    margin-top: 20px;
    background: #67676712;
    padding-top: 23px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.glyphicon {
    margin-left: 5px;
}

.accion {
    cursor: pointer;
}

.accion-cancelar {
    color: red;
}
.accion-reenviar {
    color: #d32365;
}

.accion-actualizar {
    color: #fd7e14;
}

.accion-proceso {
    color: #c7254e;
}

.estatus {
    border-left-width: 5px;
    border-left-style: solid;
}

.ready {
    border-left-color: #fd7e14;
}

.signed {
    border-left-color: #008e2e;
}

.failed {
    border-left-color: red;
}

.cancelled {
    border-left-color: #002240;
}

.tsigned {
    color: #008e2e;
}

.tfailed {
    color: red;
}

.tcancelled {
    color: #002240;
}
