﻿.page-header {
    margin: 0;
}

.modal {
    border-bottom-right-radius: 0px !important;
    border-top-left-radius: 0px !important;
}

.modal-content {
    border-bottom-right-radius: 6px !important;
    border-top-left-radius: 6px !important;
}

.modal-backdrop {
    display: none;
}

.filtros {
    border: solid 1px #2563;
    border-radius: 5px;
    margin-top: 5px;
    padding: 5px;
}

.contenido {
    margin-top: 20px;
    background: #67676712;
    padding-top: 23px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.sesion {
    width: 100%;
    display: block;
    text-align: center;
    cursor: pointer;
}

    .sesion span {
        margin-right: 5px;
    }

    .sesion .glyphicon-ok, .sesion-disponible {
        color: forestgreen;
    }

    .sesion .glyphicon-remove {
        color: red;
    }

    .sesion .glyphicon-refresh {
        color: #0008ff;
    }

        .sesion .glyphicon-refresh:hover {
            color: #ff0000;
        }

#tpruebas .glyphicon-refresh {
    color: #0008ff;
}

    #tpruebas .glyphicon-refresh:hover {
        color: #ff0000;
        cursor: pointer;
    }

#contenido img, #contenido video, #contenido object {
    margin-top: 1em;
    width: 100%;
}

#datSesion-mensaje {
    padding-bottom: 5px;
    display: block;
    font-weight: 600;
    color: #466eff;
}
