﻿<%@ Page Title="" Language="C#" MasterPageFile="../Site.master" AutoEventWireup="true" CodeFile="Principal.aspx.cs" Inherits="Principal" %>

<asp:Content ID="Content1" ContentPlaceHolderID="HeadContent" runat="Server">
  
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="MainContent" runat="Server">    
    <div class="panel panel-default">
     <div class="panel-heading panel-heading-custom text-center">
            <h3 class="panel-title">AVISOS</h3>
        </div>
        <div class="panel-body">
            <div class="table-responsive">
                <div class="row col-xs-12">
                    <asp:Table runat="server" ID="tblGeneral" class="table table-bordered table-striped">
                        <asp:TableHeaderRow ID="TableHeaderRow1" runat="server">
                            <asp:TableHeaderCell ID="TableHeaderCell1" runat="server">Fecha</asp:TableHeaderCell>
                            <asp:TableHeaderCell ID="TableHeaderCell2" runat="server">Aviso</asp:TableHeaderCell>
                        </asp:TableHeaderRow>
                    

                    </asp:Table>
                </div>                
            </div>
        </div>
    </div>


</asp:Content>

