﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Site.master" AutoEventWireup="true" CodeFile="MesaDeAyuda.aspx.cs" Inherits="Site_Soporte_MesaDeAyuda" %>

<asp:Content ID="Content2" ContentPlaceHolderID="MainContent" Runat="Server">

	<script type="text/javascript" src="https://adsis.corporativomty.com/jWS/framework_ext.js"></script>

	<style type="text/css">
		iframe {		
                border-top: #c00 1px dotted;
                border-right: #c00 2px dotted;
                border-left: #c00 2px dotted;
                border-bottom: #c00 4px dotted;

                border-top: 1px;
                border-right: 2px;
                border-left: 2px;
                border-bottom: 4px;

                /*margin-top: 20px;
                margin-bottom: 30px;
                -moz-border-radius: 12px;
                -webkit-border-radius: 12px;
                border-radius: 12px;
                -moz-box-shadow: 4px 4px 14px #000;
                -webkit-box-shadow: 4px 4px 14px #000;
                box-shadow: 4px 4px 14px #000;
                -moz-transform: rotate(20deg);
                -webkit-transform: rotate(20deg);
                -o-transform: rotate(20deg);
                -ms-transform: rotate(20deg);
                filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=.2);*/
            }
	</style>
	<div id="divIframe"></div>
</asp:Content>

